@using MvcOnlineTicariOtomasyon.Models.Sınıflar
@model List<mesajlar>
@foreach (var x in Model)
{
<div class="timeline timeline-inverse">
    <!-- timeline time label -->
    <div class="time-label">
        <span class="bg-warning">
            @x.tarih.ToShortDateString()
        </span>
    </div>
    <!-- /.timeline-label -->
    <!-- timeline item -->
    <div>
        <i class="fas fa-envelope bg-primary"></i>
        <div class="timeline-item">
            <h3 class="timeline-header">@x.konu<a href="#"></a></h3>
            <div class="timeline-body">
                @x.icerik
            </div>
        </div>
    </div>
    <div>
        <i class="fas fa-comments bg-warning"></i>
    </div>
</div>
}